.advantage__wrapper {
  max-width: 300px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    max-width: 545px;
  }
}

.advantage__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: @dark-title-color;
}

.advantage__text {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  text-transform: uppercase;
}
