.advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @dark-text-color;
}

.advantages__list {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 0;
  padding: 0;
  padding-top: 3px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.advantages__list::before {
  content: "";
  position: absolute;
  top: 0;
  height: 37px;
  width: 768px;
  left: 50%;
  margin-left: -384px;
  background-image: url("../img/advantage-triangles-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.advantages__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding-top: 18px;
  padding-left: 6px;
  margin: 0;
  color: @light-text-color;

  @media (min-width: @desktop-width) {
    max-width: 215px;
    padding-top: 24px;
    padding-left: 12px;
  }
}

.advantages__text {
  padding-left: 11px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-left: -10px;
    margin-right: -16px;
  }

  @media (min-width: @tablet-width) {
    margin-left: -16px;
  }
}

.advantages__number {
  margin: 13px;
  margin-bottom: 22px;
  min-width: 190px;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin-top: 13px;
    margin-left: -2px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 15px;
  }
}

.advantages__item-big .advantages__title,
.advantages__item-big .advantages__number,
.advantages__item-big .advantages__text {
  color: @light-text-color;
}

.advantages__container {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 25px;
  text-align: center;
  color: @light-text-color;

  @media (min-width: @tablet-width) {
    flex-basis: 33.3%;
    max-width: 180px;
    padding-top: 24px;
  }

  @media (min-width: @desktop-width) {
    max-width: 240px;
  }
}

.advantages__big {
  background-color: @background-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--changed {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.advantages__image {
  display: flex;
  width: 100%;
  min-width: 520px;
  padding: 0;
  margin: 0;

  &--bridge {
    @media (min-width: @tablet-width) {
      flex-basis: 66.6%;
      flex-direction: row-reverse;
    }
  }

  @media (min-width: @tablet-width) {
    flex-basis: 66.6%;
    background-image: url("../img/photo-city-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-city-tablet@2x.jpg");
    }
  }

  @media (min-width: @desktop-width) {
    flex-basis: 66.6%;
    background-image: url("../img/photo-city-desktop.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/photo-city-desktop@2x.jpg");
    }
  }
}

.advantages__wrapper {
  max-width: 268px;
  padding-top: 2px;
  padding-bottom: 17px;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 19px;
    max-width: 150px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 28px;
    padding-right: 5px;
  }
}

.advantages__small {
  position: relative;
  background-color: @background-special-color;

  &--decor::before {
    content: "";
    position: absolute;
    top: -5px;
    width: 85%;
    height: 1px;
    margin-left: 20px;
    background-color: @decor-line-color;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  &--decor::after {
    content: "";
    position: absolute;
    bottom: 5px;
    width: 85%;
    height: 1px;
    margin-left: 20px;
    background-color: @decor-line-color;
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    flex-basis: 33.3%;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 20px;
  }
}

.text {
  @media (min-width: @desktop-width) {
    min-width: 270px;
    margin-left: -60px;
  }
}
