.advantages {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: @dark-text-color;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.advantages__title {
  font-weight: bold;
  color: @dark-title-color;
}

.advantages__item-big .advantages__title,
.advantages__item-big .advantages__number,
.advantages__item-big .advantages__text {
  color: @light-text-color;
}

.advantages__container {
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 40px;
  text-align: center;

  @media (min-width: @tablet-width) {
    flex-basis: 33.3%;
  }
}

.advantages__big {
  background-color: @background-color;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &--changed {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}

.advantages__image {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;

  &--bridge {
    @media (min-width: @tablet-width) {
      flex-basis: 66.6%;
      flex-direction: row-reverse;
    }
  }

  @media (min-width: @tablet-width) {
    flex-basis: 66.6%;
    background-image: url("../../img/photo-city-tablet.jpg");
  }

  @media (min-width: @desktop-width) {
    flex-basis: 66.6%;
    background-image: url("../../img/photo-city-desktop.jpg");
  }
}

.advantages__wrapper {
  max-width: 268px;
  padding-top: 40px;
  padding-bottom: 60px;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
}

.advantages__small {
  background-color: @background-special-color;

  @media (min-width: @tablet-width) {
    flex-basis: 33.3%;
  }
}
