.conditions {
  display: contents;
}

.conditions__caption {
  font-weight: bold;
  color: @dark-title-color;
}

.conditions__list {
  background-color: @basic-background-color;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

