.container {
  @media (min-width: @mobile-width) {
    width: 100%;
    padding: 0 40px;
  }

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    width: 1280px;
    padding: 0 40px;
  }
}
