.copyright__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  padding-right: 45px;
  color: @dark-title-color;
}

.copyright__link {
  display: block;
  position: relative;
}

.copyright__icon {
  position: absolute;
  width: 37px;
  height: 27px;
  top: -25px;
  right: 7px;
}

.copyright {
  margin-bottom: 25px;
}
