.form-letter {
  flex-basis: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.text-field-big {
  min-height: 160px;
  background-color: @background-input-color;
}

.form-title {
  text-align: center;
}
