.form-button__selected {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  border: none;
  order: -1;
  flex-basis: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: @background-color;
  color: @light-text-color;
  text-transform: uppercase;
}

.form-button {
  @media (min-width: @tablet-width) {
    width: 50%;
  }
}
