.form-input::placeholder {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 22px;
  margin: 0;
  font-weight: bold;
  color: @dark-title-color;
}

.form-input--big {
  min-height: 123px;
  background-color: @background-input-color;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
  }
}

.form-input {
  width: 100%;
  border: none;
  padding-top: 20px;
  padding-bottom: 18px;
  background-color: @background-input-color;

  &:hover {
    background-color: @decor-form-color;
  }

  &:focus {
    background-color: @basic-background-color;
    border: 4px solid @decor-form-color;
    border-radius: 0;
    outline: none;
  }
}
