.form-input::placeholder {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 22px;
  margin: 0;
  font-weight: bold;
  color: @dark-title-color;
  background-color: @background-input-color;
}

.form-input--big {
  min-height: 160px;
  background-color: @background-input-color;
}

.form-input {
  width: 100%;
  border: none;
  padding-top: 20px;
  padding-bottom: 18px;
}
