.form-fieldset {
  border: none;
}

.form-fieldset__name {
  display: flex;
  padding: 0;
}

.form-label {
  padding-right: 10px;
}

.form-fieldset__phone {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 27px;
    right: -2px;
    background-color: @special-input-color;
    background-image: url("../img/icon-phone.svg");
    background-position: 50%;
    background-repeat: no-repeat;
  }
}

.form-fieldset__email {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 58px;
    height: 58px;
    top: 27px;
    right: -2px;
    background-color: @special-input-color;
    background-image: url("../img/icon-mail.svg");
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
