.main-navigation {
  position: relative;
  margin: 0;
  padding: 0;
  color: @light-text-color;
}

.main-navigation__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: @background-color;

  .main-navigation__item {
    @media (min-width: @tablet-width) {
      min-width: 150px;
    }
  }

  .main-navigation__item:nth-of-type(5) {
    background-color: @basic-background-color;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    background-color: @basic-background-color;

    .main-navigation__item:nth-of-type(3) {
      order: 4;
    }

    .main-navigation__item:nth-of-type(4) {
      order: 5;
    }

    .main-navigation__item:nth-of-type(5) {
      order: 1;
    }
  }
}

.main-navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 5px;
  color: @light-text-color;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2),
    inset 0 1px 0 rgba(255, 255, 255, 0.2);

  @media (min-width: @tablet-width) {
    color: @dark-title-color;
    box-shadow: none;
  }
}

.page-header__logo-image {
  width: 102px;
  height: auto;
  position: relative;
  top: -10px;

  @media (min-width: @desktop-width) {
    width: 187px;
    height: auto;
  }
}

.main-navigation__toggle {
  position: absolute;
  bottom: 50px;
  right: 20px;
  z-index: 2;
  width: 23px;
  height: 23px;
  cursor: pointer;
  border: none;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.main-navigation--closed .main-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 17px;
  width: 23px;
  height: 23px;
  background: url("../img/icon-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-navigation--opened .main-navigation__toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 23px;
  height: 23px;
  background: url("../img/icon-cross.svg");
  background-position: 0 0;
  background-repeat: no-repeat;

  .main-navigation__link--logo {
    padding: 0;
    margin-bottom: -23px;
  }
}

@media (max-width: @mobile-width-only) {
  .main-navigation--closed .main-navigation__item:nth-child(-n+4) {
    display: none;
  }

  .main-navigation--nojs .main-navigation__list {
    position: static;
    min-height: 0;
  }
}
