.map__image {
  max-width: 100%;
  position: relative;

  @media (min-width: @desktop-width) {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 27px;
    height: 27px;
    background-image: url("../img/map-marker.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.map {
  @media (min-width: @desktop-width) {
    margin-top: 12px;
  }
}
