.offer {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.offer__title {
  color: @dark-title-color;
}

.offer__button {
  background-color: @background-color;
  text-decoration: none;
}
