.page-footer {
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
  }
}

.page-footer__link {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: @dark-title-color;
}

.page-footer__contact {
  margin-top: 40px;
}
