.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  height: 100%;
}

.page__body {
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  background-color: @basic-background-color;
  color: @dark-text-color;
}

.page-catalog {
  font-size: 14px;
  line-height: 24px;
}

.page-main {
  padding-left: 10px;
  padding-right: 10px;
}

.page__wrapper {
  padding: 0;
}
