.page {
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  height: 100%;
}

.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-color: @basic-background-color;
  color: @dark-text-color;
}
