.page-header {
  display: flex;
  flex-direction: column;
  background-color: @basic-background-color;
  color: @dark-text-color;

  @media (min-width: @desktop-width) {
    margin-left: 45px;
    margin-right: 45px;
  }
}

.page-header__logo {
  display: flex;
  justify-content: center;
}

.page-header__logo-image {
  width: 102px;
  height: 84px;
}
