.photo {
  &__item {
    list-style: none;
  }

  &__image {
    background: @background-input-color no-repeat center top;
  }

  &__author {
    color: @dark-text-color;
  }

  &__diskription {
    font-weight: bold;
    color: @dark-title-color;
  }
}
