.photo__item {
  list-style: none;
}

.photo__image {
  background: @background-input-color no-repeat center top;
}

.photo__author {
  color: @dark-text-color;
}

.photo__description {
  font-weight: bold;
  color: @dark-title-color;
}
