.photo {
  padding: 0;
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.photo__item {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    flex-basis: 50%;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 33.3%;
  }
}

.photo__item:nth-child(1) {
  @media (min-width: @tablet-width) {
    flex-basis: 100%;
  }
}

.photo__block-text {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    background-color: @background-text-color;
  }

  @media (min-width: @desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

.photo__image {
  background: @background-input-color no-repeat center top;
}

.photo__author {
  color: @dark-text-color;

  @media (min-width: @desktop-width) {
    color: @light-text-color;
  }
}

.photo__description {
  font-weight: bold;
  color: @dark-title-color;

  @media (min-width: @desktop-width) {
    color: @light-text-color;
  }
}

.photo__title {
  @media (min-width: @desktop-width) {
    color: @light-text-color;
  }
}

@media (min-width: @tablet-width) {
  .photo__item--vastness {
    position: relative;
  }

  .photo__item--vegetation {
    position: relative;
  }

  .photo__item--road {
    position: relative;
  }

  .photo__item--bridge {
    position: relative;
  }
}

@media (min-width: @tablet-width) {
  .photo__block-text--vastness {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .photo__block-text--vegetation {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .photo__block-text--road {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .photo__block-text--bridge {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
