.screen-welcome {
  position: relative;
  min-width: 320px;
  height: 160px;
  margin: 0 auto;
  padding: 0;
  background: url("../../img/back-catalog-moble.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.screen-welcome__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
