.social__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 6px;
  grid-row-gap: 0;
  margin: 36px auto;
  padding: 0;
  list-style: none;
}

.social__item {
  background-color: @background-color;
  width: 48px;
  height: 48px;
}

.social__link {
  position: relative;
  text-decoration: none;
}

.social__icon-twitter {
  position: absolute;
  width: 18px;
  height: 15px;
  left: 15px;
  top: 15px;
  fill: @decor-form-color;
}

.social__icon-facebook {
  position: absolute;
  width: 9px;
  height: 19px;
  left: 17px;
  top: 13px;
  fill: @decor-form-color;
}

.social__icon-youtube {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 14px;
  top: 15px;
  fill: @decor-form-color;
}

.social__icon-htmlacademy {
  position: absolute;
  width: 27px;
  height: 35px;
  right: 5px;
  top: -27px;
  fill: @dark-title-color;
}
