.video-content__title {
  font-size: 18px;
  line-height: 26px;
}

.video-content__text {
  text-transform: uppercase;
}

.video-content__film {
  background: @background-input-color no-repeat center top;
}
