
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/pt-sans-v12-cyrillic-regular.woff2") format("woff2"),
       url("/source/fonts/pt-sans-v12-cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/source/fonts/pt-sans-v12-cyrillic-700.woff2") format("woff2"),
       url("/source/fonts/pt-sans-v12-cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("/source/fonts/roboto-v20-cyrillic-regular.woff2") format("woff2"),
       url("/source/fonts/roboto-v20-cyrillic-regular.woff") format("woff");
}
