@background-color: #81B3D2;
@background-special-color: #EEEEEE;
@background-input-color: #F2F2F2;
@basic-background-color: #FFFFFF;
@background-text-color: #EAEAEA;
@dark-title-color: #000000;
@dark-text-color: #333333;
@light-text-color: #FFFFFF;
